# Django settings
SECRET_KEY=
DEBUG=


# Database settings (PostgreSQL)
NAME=
USER=
PASSWORD=
HOST=
PORT=


# Stripe settings
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

# Redis settings
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
ADMIN_EMAIL=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=


# Application settings
BASE_URL=
